# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build/*
doc/docs/*
doc/xml/*
doc/html/*
doc/CMakeFiles/*
doc/Makefile
doc/CMakeDoxygenDefaults.cmake
doc/CMakeDoxyfile.in
doc/CMakeCache.txt
doc/cmake_install.cmake